.styleRootPlayListTrackCard {
  height: 2%;
  margin-bottom: 50px;
  flex-direction: row;
}
.styleFirstDivPlayListTrackCard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.styleImagePlayListTrackCard {
  height: 50%;
  width: 15%;
  margin-right: 5%;
}
.styleSecondDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}
.styleTitle {
  position: absolute;
  color: white;
  font-size: 12px;
  font-weight: bold;
  bottom: 10px;
}
.styleArtistName {
  position: absolute;
  font-size: 13px;
  color: white;
  bottom: -10px;
}
.styleButton {
  background-color: black;
  cursor: pointer;
  border: none;
}
.styleSpotifyPlayer {
  height: 20px;
  margin-right: 2%;
  margin-top: 7%;
}
