.styleRootTrackCard {
  height: 80px;
  margin-bottom: 40px;
  flex-direction: row;
  width: 450px;
}
.styleFirstDivTrackCard {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.styleImageTrackCard {
  height: 80px;
  width: 100px;
  margin-right: 50px;
}
.styleTitle {
  margin-left: 2%;
  color: white;
  font-size: 12px;
  font-weight: bold;
  bottom: 10px;
  width: 100%;
}
.styleTrackCard {
  position: absolute;
  font-size: 13px;
  color: white;
  bottom: -10px;
}
.stylePlayButton {
  background-color: black;
  cursor: pointer;
  border: none;
}
